wp-config.php
/misc
/wp-content/themes/greaterworks/js/hashgrid.js
/wp-content/themes/greaterworks/css/hashgrid.css
/wp-content/themes/greaterworks/css/style.less
/wp-content/uploads
/wp-content/w3tc/
/wp-content/backup-db/
.htaccess
sitemap.xml
sitemap.xml.gz
